<div class="row">
  @for (card of cards; track card) {
    <div class="col-md-6 col-xl-3">
      <app-card [hidHeader]="true" cardClass="{{ card.background }} order-card">
        <h6 class="text-white">{{ card.title }}</h6>
        <h2 class="text-end text-white">
          <i class="feather {{ card.icon }} float-start"></i>
          <span>{{ card.number }}</span>
        </h2>
        <p class="m-b-0">
          {{ card.text }}
          <span class="float-end">{{ card.no }}</span>
        </p>
      </app-card>
    </div>
  }
  <div class="row">
    <div class="col-md-6 col-xl-6">
      <app-card cardClass="bg-c-transparent order-card">
        <h6 class="text-black">Complaints Status</h6>
        <apx-chart
          [series]="complaintsChartOptions.series"
          [chart]="complaintsChartOptions.chart"
          [labels]="complaintsChartOptions.labels"
          [responsive]="complaintsChartOptions.responsive"
        ></apx-chart>
      </app-card>
    </div>
    <div class="col-md-6 col-xl-6">
      <app-card cardClass="bg-c-transparent order-card">
        <h6 class="text-black">Leave Requests Overview</h6>
        <apx-chart
          [series]="leaveRequestsChartOptions.series"
          [chart]="leaveRequestsChartOptions.chart"
          [xaxis]="leaveRequestsChartOptions.xaxis"
          [responsive]="leaveRequestsChartOptions.responsive"
          [plotOptions]="leaveRequestsChartOptions.plotOptions"
        ></apx-chart>
      </app-card>
    </div>
  </div>
  